<html>
    <head>
        <title>Mój Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mój Blog</a></h1>
        </div>

        <div>
            <p>published: 16.09.2017, 17.40</p>
            <h2><a href="">My first post</a></h2>
            <p>Kawa jest dobra. Zwłaszcza ta mega słodka z maka. Z karmelem i syropem pomarańczowym. Nie lubię czarnej.</p>
        </div>

        <div>
            <p>by: Izabela Czarny</p>
            <h2><a href="">My 2nd post</a></h2>
            <p>Nie wiem o czym mam tutaj pisać. Weny jak nie było, tak nie ma...</p>
        </div>
      </body>
</html>
